/* A quick reset, classic and reliable. Unopinionated */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #505080;
}

main {
    width: 85%;
    margin: auto;
    background-color: #EFEFEF;
    border: 1px solid #AFAFCF;
}
